#about-us{
    min-height: 940px;
    max-width: 1920px;
    background-color: $white;
    position: relative;
    z-index: 99;
    margin-top: -180px;

    .about-us-header{
        // background: red;
        margin: 0 auto;
        max-width: 1920px;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 60px;
        

        h1{
            font-family: rift, sans-serif;
            font-weight: 700;
            font-style: italic;
            color: $orange;
            font-size: 84px;
            line-height: 110%;
        }
    }

    .about-photo{
        margin-left: 130px;
        min-height: 610px;
        max-width: 620px;
        background-image: url(../img/about-photo.JPG);  
        background-size: cover;
    }

    .about-desc{
        max-width: 620px;
        margin-top: -700px;
        margin-left: 800px;

        p{
            font-family: nobel, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: $orange;
            font-size: 25px;
            line-height: 150%;
        }
    }
}